{% extends "layout.html" %}

{% block title %}
Home

{% endblock %}
{% block main %}

<h1 class="main_title font"> Hi and welcome to my cs50 final project</h1>
<table>
    <thead<>
        <tr class="font">
            <th>Lender</th>
            <th>Borrower</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Settle Debt</th>
        </tr>
        {% for debt in debts %}
        <tr class="font">

            <td> {{debt.loaner }}</td>
            <td> {{ debt.borrower }}</td>
            <td> ₪ {{ debt.amount }} </td>
            <td> {{ debt.date }}</td>
            <td>
                <form action="/discard" method="post">
                    <button name="discard" id="discard" value="{{ debt.id }}" class="aviv-button">Settle Debt</button>
                </form>
            </td>
        </tr>
        {% endfor %}

</table>
{% endblock %}